.galery {
    width: 100%;
    height: 100%dvh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  1fr  1fr  1fr;
    gap: 20px;
   padding-top: 20px;
  
}


.galery .photo {
    width: 100%;
    height: 300px;
    background-color: yellowgreen;
}

.galery .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}